DB_HOST=localhost
DB_PORT=5432
DB_NAME=white_quantex
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=8Zz5twkAG57M61Jg6oTz8pX3sM4vP6wY8z0aB2cD4eF6gH8iJ0kL2mN4oP6qR8sT
FRONTEND_URL=http://localhost:7000
